<header>
    <h1 id="gameStatus">Unknown</h1>
    <h3 id="playerRound"></h3>
</header>
<form id="ruch">
    <input type="button" id="btnGame" value="Nowa Gra" />
    <input type="button" id="btnRound" value="Nowa Runda" />
</form>
<script>
    const updateFunctions = [];
    const setupFunctions = [];
    var lastClick = '';
    var nextMove = '';
    function updateGUI(state) {
        document.getElementById('gameStatus').innerHTML = state.gameActiveDesc;
        document.getElementById('playerRound').innerHTML = state.nextPlayerDesc;
        nextMove = state.nextMove;

        updateFunctions.forEach(fun => {
            try {
                fun(state);
            } catch (error) {
                console.log(error);
            }

        });

        const scoreboard = document.getElementById('scores');
        for (var i = 0; i < scoreboard.children.length; ++i)
            scoreboard.children[i].innerHTML = state.score[i].toString();
    }

    function setup() {
        setupFunctions.forEach(fun => {
            try {
                fun();
            } catch (error) {
                console.log(error);
            }
        });
        console.log('Setup finished!');
    }
</script>
<% if (locals.game.board) { %>
    <div id="board:0" class="gameBoard">
        <% locals.board=locals.game.board; locals.index=0;%>
            <%- include("./gamesparts/boards/"+locals.board.type+".ejs") %>
    </div>
    <% } else if (locals.game.boards) { %>
        <% locals.game.boards.forEach((element, index)=> { %>
            <div id="board:<%= index %>" class="gameBoard">
                <% locals.board=element; locals.index=index;%>
                    <%- include("./gamesparts/boards/"+locals.board.type+".ejs") %>
            </div>
            <% }) %>
                <% } %>
                    <%- include('./gamesparts/misc/score.ejs') %>
                        <footer id="gameFooter">
                            <%= locals.game.description%>
                        </footer>