<form>
    <input type="button" id="btnGame" class="bottonBox" value="Nowa Gra" onclick="startNewGame(this.form)" />
    <input type="button" id="btnRound" class="bottonBox" value="Nowa Runda" onclick="startNewRound()" />
    <input type="button" class="buttonBox" value=". . ." onclick="updateListVisibility()" />
    <div id="usersRoles" class="hideable" hidden>
        <% for( var i=1; i <=locals.game.maxNoPlayers; ++i ) { %>
            <label for="player#<%= i %>">Gracz <%= i %>:</label>
            <select id="player#<%= i %>" name="player#<%= i %>" onchange="updateOption(this)" <%=i===1?'' : 'disabled'
                %> >
                <%- include('./usersRoomHost.ejs') %>
            </select><br />
            <% } %>
    </div>
</form>