<% const board=locals.game.board; var orl=0; var ocl=0; switch (board.rowLabels) { case "d" : orl=49; break; case "l" :
    orl=97; break; } switch (board.columnLabels) { case "d" : ocl=49; break; case "l" : ocl=97; break; } if (orl> 0 &&
    ocl > 0) { %>
    <table id="board" class="board">
        <tbody>
            <tr class="board boardsquare">
                <th class="board boardsquare"></th>
                <% for (var i=0; i < board.columnCount; ++i) { %>
                    <th class="board boardsquare">
                        <%= String.fromCharCode(ocl+i) %>
                    </th>
                    <% } %>
            </tr>
            <% for (var i=0; i < board.rowCount; ++i) { %>
                <tr id="brow<%= i%>" class="board boardsquare">
                    <th class="board boardsquare">
                        <%= String.fromCharCode(orl+i)%>
                    </th>
                    <% for (var j=0; j < board.columnCount; ++j) {%>
                        <td class="board boardsquare"
                            onclick="makeMove('<%= String.fromCharCode(ocl+j) + String.fromCharCode(orl+i)%>')"></td>
                        <% } %>
                </tr>
                <% } %>
        </tbody>
    </table>
    <form id="ruch">
        <input type="button" id="btnGame" value="Nowa Gra" />
        <input type="button" id="btnRound" value="Nowa Runda" />
    </form>
    <br />
    <div id="score">
        <table class="scoreboard">
            <thead>
                Tabela wyników
            </thead>
            <tbody>
                <tr>
                    <th>Remisy</th>
                    <% for (var i=0; i < locals.game.maxNoPlayers; ++i) { %>
                        <th>Player<%= i+1 %>
                        </th>
                        <% } %>

                </tr>
                <tr id="scores">
                    <td>0</td>
                    <% for (var i=0; i < locals.game.maxNoPlayers; ++i) { %>
                        <td>0</td>
                        <% } %>

                </tr>
            </tbody>
        </table>
    </div>
    <% } else { %>Nie znany rodzaj numeracji!<% } %>